
<div class="container-md">
<div>
  <div class="submit-form">

      <div class="form-group">
        <label for="title">Buscar Empleado por Identificacion</label>
        <input
          type="number"
          class="form-control"
          id="idemploy"
          required
          [(ngModel)]="idemploy"
          name="idemploy"
        />
      </div>
      <button (click)="onSubmitsearch()" class="btn btn-success">Buscar</button>
  </div>
</div>




<div class="list-group">
  <div *ngFor="let itemuemployelist of EmployeesList;">
      <div class="submit-form">
    <button (click)="onSelectlogin(itemuemployelist.id)" type="button" class="list-group-item list-group-item-action">{{ itemuemployelist.employee_name }}</button>
      </div>
  </div>
</div>


</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title">{{employ.employee_name}}</h4>
      </div>
      <div class="">
        <img src={{employ.profile_image}} class="img-fluid" alt="Foto" />
      </div>
      <div class="modal-body">
        <p>id: {{employ.id}} </p>
      </div>
      <div class="modal-body">
        <p>Edad {{employ.employee_age}} </p>
      </div>
      <div class="modal-body">
        <p>Salario: {{employ.employee_salary}} </p>
      </div>

      <div class="modal-body">
        <p>Salario Anual: {{employ.employee_salary_A}} </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
